{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="background: url('images/about-us/page-title.jpg') no-repeat center center / cover; padding: 140px 0;" data-center="background-position: 0px 50%;" data-top-bottom="background-position:0px 0px;">

			<div class="container clearfix">
				<h1>About Us</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Real Estate</a></li>
					<li class="breadcrumb-item active">About Us</li>
				</ol>
			</div>

			<div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
					<div class="video-overlay" style="background: rgba(0,0,0,0.3);"></div>
				</div>

		</section><!-- #page-title end -->

				<!-- Content
				============================================= -->
				<section id="content">

						<div class="container clearfix">
							<div class="heading-block noborder mw-100">
								<h2 class="mb-4">Our Team</h2>
								<p class="lead">Rerum morbi wisi purus illum, dolor consectetuer nulla, iusto eveniet? Fuga rem inventore scelerisque, wisi, hac illo wisi iste platea natus ante anim augue convallis. Lacinia laoreet mus quisque repellat.</p>
							</div>

							<div class="row">

								<div class="col-lg-6 col-12 bottommargin">

									<div class="team team-list clearfix">
										<div class="team-image">
											<img src="{% static 'demos/real-estate/images/team/3.jpg' %}" alt="John Doe">
										</div>
										<div class="team-desc">
											<div class="team-title"><h4>Weir Doe</h4><span>Property Consultant</span></div>
											<div class="team-content">
												<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom.</p>
											</div>
											<a href="#" class="social-icon si-rounded si-small si-colored si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-gplus">
												<i class="icon-gplus"></i>
												<i class="icon-gplus"></i>
											</a>
										</div>
									</div>

								</div>

								<div class="col-lg-6 col-12 bottommargin">

									<div class="team team-list clearfix">
										<div class="team-image">
											<img src="{% static 'demos/real-estate/images/team/4.jpg' %}" alt="Nix Maxwell">
										</div>
										<div class="team-desc">
											<div class="team-title"><h4>Nix Maxwell</h4><span>Director / Liecence</span></div>
											<div class="team-content">
												<p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned.</p>
											</div>
											<a href="#" class="social-icon si-rounded si-small si-colored si-forrst">
												<i class="icon-forrst"></i>
												<i class="icon-forrst"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-skype">
												<i class="icon-skype"></i>
												<i class="icon-skype"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-flickr">
												<i class="icon-flickr"></i>
												<i class="icon-flickr"></i>
											</a>
										</div>
									</div>

								</div>

								<div class="col-lg-6 col-12 bottommargin">

									<div class="team team-list clearfix">
										<div class="team-image">
											<img src="{% static 'demos/real-estate/images/team/2.jpg' %}" alt="John Doe">
										</div>
										<div class="team-desc">
											<div class="team-title"><h4>Piff Jenkins</h4><span>Senior Property Manager</span></div>
											<div class="team-content">
												<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert.</p>
											</div>
											<a href="#" class="social-icon si-rounded si-small si-colored si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-gplus">
												<i class="icon-gplus"></i>
												<i class="icon-gplus"></i>
											</a>
										</div>
									</div>

								</div>

								<div class="col-lg-6 col-12 bottommargin">

									<div class="team team-list clearfix">
										<div class="team-image">
											<img src=".{% static 'demos/real-estate/images/team/8.jpg' %}" alt="Nix Maxwell">
										</div>
										<div class="team-desc">
											<div class="team-title"><h4>Pelican Steve</h4><span>Office Administrator</span></div>
											<div class="team-content">
												<p>Eradicate invest honesty human rights accessibility theory of social change.</p>
											</div>
											<a href="#" class="social-icon si-rounded si-small si-colored si-forrst">
												<i class="icon-forrst"></i>
												<i class="icon-forrst"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-skype">
												<i class="icon-skype"></i>
												<i class="icon-skype"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-colored si-flickr">
												<i class="icon-flickr"></i>
												<i class="icon-flickr"></i>
											</a>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="section nobottommargin clearfix" style="background-color: #fef6f3">

							<div class="container clearfix">
								<div class="heading-block noborder mw-100">
									<h2 class="mb-4">Our Partners</h2>
									<p class="lead">Rerum morbi wisi purus illum, dolor consectetuer nulla, iusto eveniet? Fuga rem inventore scelerisque, wisi, hac illo wisi iste platea natus ante anim augue convallis. Lacinia laoreet mus quisque repellat.</p>
								</div>
								<ul class="clients-grid grid-6 nobottommargin clearfix">
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/1.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/2.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/3.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/4.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/1.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/2.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/3.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/4.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/1.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/2.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/3.png' %}" alt="Clients"></a></li>
									<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img src="{% static 'demos/real-estate/images/builders/4.png' %}" alt="Clients"></a></li>
								</ul>
							</div>
						</div>

					</div><!-- .content-wrap end -->

				</section><!-- #content end -->
				{% endblock %}
