{% extends "home/base.html" %}
{% block content %}
{% load staticfiles %}
<section id="content">

	<div class="content-wrap">
		<div class="container clearfix">
        <div class="media-body" style="background:#ffffff;padding: 10px 20px;border: 1px solid #dddddd;border-radius: 4px;margin-bottom: 10px; position: centre;">
            <div class="logout-form" style="margin: auto;display: table;">
                <p>You have been logged out</p>
                <a href="{% url 'login' %}" class ="button btn btn-outline-info">Login</a>
              </div>
</section>
</div>
</div>
</div>
</div>

{% endblock %}
